* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*## Colors
    ### Primary*/
    --Dark-Blue: hsl(240, 38%, 20%);
    --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(images/pattern-bg.svg), url(images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: 95% 40%, 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 85vw;
    height: 75vh;
    position: relative;
}

.container section {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    transition: opacity .5s ease;
}

.container section.active {
    opacity: 1;
}


.container section img {
    width: 45%;
    border-radius: .3rem;
}

.container section .text {
    padding: 8rem 0 0 3rem;
    background-image: url(images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-position: 25% 20%;
}

.container section .text p:first-child {
    width: 110%;
    margin-bottom: 2rem;
    font-size: 2.1875rem;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

.container section .text p:last-child {
    color: var(--Dark-Blue);
    font-weight: 700;
}

.container section .text p:last-child span{
    color: var(--Grayish-Blue);
    font-weight: 500;
}

.container .change {
    width: 6rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(186, 186, 207, .5);
    position: absolute;
    right: 30%;
    bottom: -5%;
    user-select: none;
}

.container .change img{
    align-self: center;
    transition: .5s;
}

@media(hover: hover) {
    .container .change img:hover {
        cursor: pointer;
    }
}

@media(max-width: 975px) {

    .container section .text {
        padding: 6rem 0 0 2rem;
        background-position: 25% 15%;
    }
}

@media(max-width: 875px) {

    .container section .text {
        padding: 4rem 0 0 1rem;
        background-position: 25% 10%;
    }

    .container section .text p:first-child {
        font-size: 2rem;
    }
}

@media(max-width: 775px) {

    .container section .text {
        padding: 3rem 0 0 0rem;
        background-position: 25% 5%;
    }

}

@media(max-width: 675px) {

    body {
        height: 100vh;
        background-size: 50%;
        background-position: 50% 10%, 0 100%;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .container section {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
        gap: 3rem;
    }

    .container section img {
        width: 40%;
    }

    .container section .text {
        padding: 1rem 2rem 0 2rem;
        background-size: 10%;
        background-position: 50% 0;
    }

    .container section .text p:first-child {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }

    .container section .text p:last-child {
        width: 100%;
        text-align: center;
    }

    .container section .text p:last-child span{
        display: block;
    }

    .container .change {
        right: 40%;
        bottom: -5%;
    }

}

@media(max-width: 575px) {
    .container section .text p:first-child {
        font-size: 1.6rem;
    }
}

@media(max-width: 475px) {

    body {
        height: 100vh;
        background-size: 70%;
        background-position: 50% 10%, 0 100%;
    }

    .container section img {
        width: 55%;
    }

    .container section .text p:first-child {
        font-size: 1.2rem;
    }

    .container .change {
        position: absolute;
        right: 40%;
        bottom: 0;
    }
}

@media(max-width: 375px) {

    body {
        height: 100vh;
        background-size: 80%;
        background-position: 50% 10%, 0 100%;
    }

    .container section img {
        width: 60%;
    }

    .container .change {
        position: absolute;
        right: 35%;
        bottom: 0;
    }
}