* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*## Colors
    ### Primary*/
    --Linear-Gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
    /*### Neutral*/
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 20%, auto;
    background-color: var(--Very-Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem 0;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
}

.header h1 {
    color: var(--Dark-Grayish-Blue);
}

.header .billing {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
    color: var(--Grayish-Blue);
    font-weight: 700;
}

.header .billing .switch {
    position: relative;
    width: 3.4rem;
    height: 2rem;
    border-radius: 1rem;
    background: linear-gradient(to right, var(--Linear-Gradient));
    display: flex;
    align-items: center;
}

.header .billing .switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.header .billing .switch input:checked + .slider {
    -webkit-transform: translateX(-1.4rem);
    transform: translateX(-1.4rem);
}

.header .billing .switch .slider {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    left: 1.6rem;
    transition: transform ease .5s;
}

.container {
    width: 66rem;
    height: 31rem;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.container > div{
    width: calc(100% / 3);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .professional {
    height: 100%;
    background: linear-gradient(to right, var(--Linear-Gradient));
    color: white;
    border-radius: .5rem;
}

.container .basic {
    border-radius: .5rem 0 0 .5rem;
}

.container .master {
    border-radius: 0 .5rem .5rem 0;
}


.container div:not(.professional) {
    height: 90%;
    background-color: white;
    color: var(--Dark-Grayish-Blue);
}

.container > div h2 {
    margin-bottom: .8rem;
}


.container div .price {
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    padding-bottom: 1.2rem;
    border-bottom: .1rem solid var(--Light-Grayish-Blue);
}

.container div .price span {
    font-size: 5rem;
}

.container div p:not(.price) {
    width: 100%;
    padding: 1rem;
    font-weight: 700;
    text-align: center;
    border-bottom: .1rem solid var(--Light-Grayish-Blue);
}

.container div button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: .8rem 0;
    margin-top: 2rem;
    border: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    border-radius: .5rem;
}

.container .professional button {
    background-color: white;
    color: var(--Dark-Grayish-Blue);
    border: .1rem solid white;
}

.container div:not(.professional) button {
    background: linear-gradient(to right, var(--Linear-Gradient));
    color: white;
    border: .1rem solid var(--Light-Grayish-Blue);
}

@media(hover: hover) {
    .header .billing .switch:hover {
        cursor: pointer;
        opacity: .5;
    } 

    .container .professional button:hover {
        cursor: pointer;
        background-color: transparent;
        color: white;
    }

    .container div:not(.professional) button:hover {
        cursor: pointer;
        background: transparent;
        color: var(--Dark-Grayish-Blue);
    }
}